In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2021-09-29 21:49:18,42.0970,-79.2353,63.99,51,1,9.22
1,1,Kisangani,CD,2021-09-29 21:49:26,0.5167,25.2000,70.68,98,100,4.61
2,2,Mayo,US,2021-09-29 21:49:26,38.8876,-76.5119,73.08,56,1,1.01
3,3,Trairi,BR,2021-09-29 21:46:03,-3.2778,-39.2689,79.34,83,8,10.27
4,4,Fortuna,US,2021-09-29 21:46:46,40.5982,-124.1573,73.18,47,1,7.00

In [3]:
#Get the data types 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kisangani,CD,2021-09-29 21:49:26,0.5167,25.2000,70.68,98,100,4.61
2,2,Mayo,US,2021-09-29 21:49:26,38.8876,-76.5119,73.08,56,1,1.01
3,3,Trairi,BR,2021-09-29 21:46:03,-3.2778,-39.2689,79.34,83,8,10.27
4,4,Fortuna,US,2021-09-29 21:46:46,40.5982,-124.1573,73.18,47,1,7.00
7,7,Shimoda,JP,2021-09-29 21:49:28,34.6667,138.9500,70.11,77,100,6.67
10,10,Ishigaki,JP,2021-09-29 21:49:29,24.3448,124.1572,78.93,94,20,5.75
11,11,Faanui,PF,2021-09-29 21:49:29,-16.4833,-151.7500,79.29,70,16,18.92
12,12,Puerto Ayora,EC,2021-09-29 21:49:30,-0.7393,-90.3518,82.36,86,86,10.51
18,18,Dingle,PH,2021-09-29 21:49:32,10.9995,122.6711,76.30,93,31,3.18
19,19,Acapulco,MX,2021-09-29 21:47:32,16.8634,-99.8901,83.21,77,69,6.91

In [12]:
preferred_cities_df.count()

City_ID       261
City          261
Country       261
Date          261
Lat           261
Lng           261
Max Temp      261
Humidity      261
Cloudiness    261
Wind Speed    261
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1      Kisangani      CD     70.68   0.5167   25.2000
2           Mayo      US     73.08  38.8876  -76.5119
3         Trairi      BR     79.34  -3.2778  -39.2689
4        Fortuna      US     73.18  40.5982 -124.1573
7        Shimoda      JP     70.11  34.6667  138.9500
10      Ishigaki      JP     78.93  24.3448  124.1572
11        Faanui      PF     79.29 -16.4833 -151.7500
12  Puerto Ayora      EC     82.36  -0.7393  -90.3518
18        Dingle      PH     76.30  10.9995  122.6711
19      Acapulco      MX     83.21  16.8634  -99.8901

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kisangani,CD,70.68,0.5167,25.2000,Grand Ramela Hotel
2,Mayo,US,73.08,38.8876,-76.5119,Resorts Resource Group International
3,Trairi,BR,79.34,-3.2778,-39.2689,janelas do mar
4,Fortuna,US,73.18,40.5982,-124.1573,Super 8 by Wyndham Fortuna
7,Shimoda,JP,70.11,34.6667,138.9500,Shimoda Tokyu Hotel
10,Ishigaki,JP,78.93,24.3448,124.1572,Hotel Peace Land Ishigakijima
11,Faanui,PF,79.29,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
12,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Dingle,PH,76.30,10.9995,122.6711,SEGAYA PROPERTY
19,Acapulco,MX,83.21,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))