## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Dikson,RU,73.5069,80.5464,34.79,98,100,23.38,light rain
1,1,Margate,GB,51.3813,1.3862,56.03,76,0,5.01,clear sky
2,2,Cape Town,ZA,-33.9258,18.4232,58.08,55,20,12.66,few clouds
3,3,Hilo,US,19.7297,-155.0900,73.62,84,90,4.61,light rain
4,4,Buala,SB,-8.1450,159.5921,78.75,84,57,2.06,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Hilo,US,19.7297,-155.0900,73.62,84,90,4.61,light rain
6,6,Thompson,CA,55.7435,-97.8558,60.96,63,75,2.30,broken clouds
7,7,Rikitea,PF,-23.1203,-134.9692,73.40,64,100,17.65,overcast clouds
11,11,Cidreira,BR,-30.1811,-50.2056,67.95,84,100,8.37,overcast clouds
13,13,Vaini,TO,-21.2000,-175.2000,73.56,88,90,9.22,overcast clouds
27,27,Saint-Joseph,RE,-21.3667,55.6167,71.98,79,19,11.45,few clouds
39,39,Broome,US,42.2506,-75.8330,65.17,80,90,5.01,overcast clouds
44,44,Kangavar,IR,34.5043,47.9653,66.33,23,0,2.15,clear sky
46,46,Olari,RO,46.3833,21.5500,63.01,43,100,5.95,overcast clouds
50,50,Khasan,RU,42.4308,130.6434,61.84,88,100,6.20,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        3
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Hilo,US,19.7297,-155.0900,73.62,84,90,4.61,light rain
6,6,Thompson,CA,55.7435,-97.8558,60.96,63,75,2.30,broken clouds
7,7,Rikitea,PF,-23.1203,-134.9692,73.40,64,100,17.65,overcast clouds
11,11,Cidreira,BR,-30.1811,-50.2056,67.95,84,100,8.37,overcast clouds
13,13,Vaini,TO,-21.2000,-175.2000,73.56,88,90,9.22,overcast clouds
27,27,Saint-Joseph,RE,-21.3667,55.6167,71.98,79,19,11.45,few clouds
39,39,Broome,US,42.2506,-75.8330,65.17,80,90,5.01,overcast clouds
44,44,Kangavar,IR,34.5043,47.9653,66.33,23,0,2.15,clear sky
46,46,Olari,RO,46.3833,21.5500,63.01,43,100,5.95,overcast clouds
50,50,Khasan,RU,42.4308,130.6434,61.84,88,100,6.20,overcast clouds

In [7]:
#checking for null values
clean_df.count()

City_ID        172
City           172
Country        172
Lat            172
Lng            172
Max Temp       172
Humidity       172
Cloudiness     172
Wind Speed     172
Description    172
dtype: int64

In [8]:
#checking for null values
clean_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Hilo,US,73.62,light rain,19.7297,-155.0900,
6,Thompson,CA,60.96,broken clouds,55.7435,-97.8558,
7,Rikitea,PF,73.40,overcast clouds,-23.1203,-134.9692,
11,Cidreira,BR,67.95,overcast clouds,-30.1811,-50.2056,
13,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,
27,Saint-Joseph,RE,71.98,few clouds,-21.3667,55.6167,
39,Broome,US,65.17,overcast clouds,42.2506,-75.8330,
44,Kangavar,IR,66.33,clear sky,34.5043,47.9653,
46,Olari,RO,63.01,overcast clouds,46.3833,21.5500,
50,Khasan,RU,61.84,overcast clouds,42.4308,130.6434,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Hilo,US,73.62,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Thompson,CA,60.96,broken clouds,55.7435,-97.8558,Burntwood Hotel
7,Rikitea,PF,73.40,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Cidreira,BR,67.95,overcast clouds,-30.1811,-50.2056,Hotel Castelo
13,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
673,Kibiti,TZ,67.68,scattered clouds,-7.7218,38.9375,Experia Guest House
675,Gonen,TR,64.36,few clouds,40.1049,27.6540,Gönen Palmiye Butik Pansiyon
682,Inongo,CD,71.98,light rain,-1.9500,18.2667,Hotel Du Lac
683,Lima,PE,62.85,overcast clouds,-12.0432,-77.0282,Gran Hotel Bolivar Lima
687,Roma,US,64.67,overcast clouds,43.2128,-75.4557,Wingate By Wyndham Rome

In [15]:
#check for null

clean_hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))